.follow-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    height: 100vh;
    background: #242222;
    .follower,.following,.otheruser{
        ::-webkit-scrollbar {
            width: 6px;   /* patla scrollbar */
             }
             ::-webkit-scrollbar-thumb {
          background: #888;
            border-radius: 10px;
       }

::-webkit-scrollbar-thumb:hover {
  background: #DF349B;
}
        .fl{
           
            display: flex;
            flex-direction: column;
            // background: #5e1f1f;
            height: 24vh;
            overflow: auto;

            
        }
    }
}