.following-compo{
      margin-top: 0.3rem;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            font-size: 0.7rem;
            color: aliceblue;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            font-weight: 100;

}